.DS_Store
.sass-cache
.bash_history
.bowerrc
*.cache
*.node-gyp
*.npm
*.scssc
*.pyc
*.swp
*.map
npm-debug.log
node_modules
bower_components
original
admin.bundle.js
app/assets/js/admin.bundle.js
app/templates/templateCache.js
.idea
build
/app/assets/css/
/app/assets/js/
