/* Modals - Mass Action
============================================================
========================================================= */

.mass-actions-modal {
    margin-left: -200px !important;
    width: 400px;
    // height: 540px;
    .icon-spin5 {
        font-size: em(32);
    }
}