
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-megaphone:before { content: '\e804'; } /* '' */
.icon-chart-area:before { content: '\e805'; } /* '' */
.icon-bell-alt:before { content: '\e806'; } /* '' */
.icon-block:before { content: '\e807'; } /* '' */
.icon-help-circled:before { content: '\e808'; } /* '' */
.icon-attention:before { content: '\e809'; } /* '' */
.icon-heart-filled:before { content: '\e80a'; } /* '' */
.icon-toggle-off:before { content: '\e80b'; } /* '' */
.icon-toggle-on:before { content: '\e80c'; } /* '' */
.icon-lightbulb:before { content: '\e80d'; } /* '' */
.icon-sliders:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */